/* section {
    display: block;
  } */
  /* body {
    margin: 0 auto;
    background-color: #22283A;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Montserrat:ital,wght@0,300;1,300&family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');

  * {
    margin: 0;
  }
  ul {
    list-style: none;
  }
  html {
    font-size: 62.5%;
    margin-top: 0 auto;
  }
  body {
    background-color: #f2f2f3;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-family: 'Montserrat', sans-serif;
    color: #23293B;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .container {
    max-width: fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  nav {
    background-color: rgb(32, 45, 55);
    padding: 1.5rem;
    display: flex;
    position: fixed;
    width: 100%;
  }
  nav h1 {
   
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 2rem;
    color: rgb(220, 232, 234);
    font-family: 'Cinzel', serif;
    /* font-family: 'Amatic SC', cursive; */
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    scroll-behavior: smooth;
  }
  nav ul a {
    text-decoration: none;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
    position: relative;
    left: 55%;
    color: rgb(220, 232, 234);
  }
  nav ul a:hover{
    cursor: pointer;
  }
  footer {
    color: rgb(220, 232, 234);
    background-color: rgb(39, 55, 68);
    padding: 15px;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer div {
    padding: 2rem;
    font-size: medium;
  }
 /* */
  .home .intro {
    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),url(./media/miamiportada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: white;
}
.home{
    scroll-behavior: smooth;
}
  .home .intro h2 {
    padding-top: 25rem;
    padding-bottom: 15rem;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Cinzel', serif;
  }
  .home .intro p {
    padding: 0 15px;
  }
  .home .intro img {
    width: 150vh;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
   
  }
  .home .music-images {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 40vh;
    display: inline;
    margin-bottom: 10rem;
    margin-left: 25rem;
    background-color: #f2f2f3;
  }
  .home .music-images img{
    width: 40vh;
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    height: 30vh;
  }
  .home .musica-nueva .musica-text video {
    width: 120vh;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 5px;
    height: 80vh;
  }
  .home .musica-nueva {
    padding: 20px;
    padding-bottom: 1rem;
    padding-left: 23rem;
    background-color: #ebeef8;
    justify-content: center;
    height: 150vh;
    line-height: 3;
 }
  .home .musica-nueva .musica-text{
    width: 70%;
    margin-left: 5rem;
  }
  .home .musica-nueva h3 {
    margin-top: 11px;
  }
  .home .musica-nueva p {
    margin-top: 7px;
  }
  .home .musica-nueva2 {
    padding-top: 7rem;
    width: 100%;
    height: 70vh;
    background-color: #ebeef8;
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    line-height: 1.5;
 }
  .home .musica-nueva2 .musica-text2{
    width: 50%;
  }
  .home .musica-nueva2 h3 {
    margin-top: 20px;
  }
  .home .musica-nueva2 .musica-text2 span {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    /* font-family: 'Source Code Pro', monospace; */
    font-size: large;
    font-style: italic;
  }
  .home .musica-nueva2 p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home .actual {
    background-color: #f2f2f3;
    margin-bottom: 1rem;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    line-height: 3;
  }
  .home .actual img {
    width: 40%;
    margin: 20px 2.5%;
    border-radius: 10px;
    height: 30%;
  }
  .home .actual .actual-text {
    width: 60%;
  }
  .home .actual .actual-text h3 {
    margin-bottom: 10px;
  }
  .home .actual .actual-text p {
    margin-bottom: 26px;
  }
  .home .actual2 img {
    width: 40vh;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 30vh;
  }
  .home .actual2 {
    height: 60vh;
    margin-bottom: 1rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    line-height: 3;
    background-color: #f2f2f3;
  }
  .home .actual2 .actual2-text {
    width: 65%;
  }
  .home .actual2 .actual2-text h3 {
    margin-bottom: 10px;
  }
  .home .actual2 .actual2-text p {
    margin-bottom: 26px;
  }

  .home .actual .actual-img {
    width: 46%;
    margin-left: 4%;
  }
  .home .actual .actual-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .home .musica3-nueva {
    padding: 20px;
    padding-bottom: 1rem;
    padding-left: 23rem;
    background-color: #ebeef8;
    justify-content: center;
    height: 60vh;
    line-height: 3;
 }
  .home .musica3-nueva .musica3-text{
    width: 80%;
  }
  .home .musica3-nueva h3 {
    margin-top: 11px;
  }
  .home .musica3-nueva p {
    margin-top: 7px;
  }
  .home .musica3-nueva img {
    width: 40vh;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 30vh;
  }
  